
* {
   box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
   margin: 0; /* overrides browser default margins of 8px */
}

#product-overview {
   background: url("freedom.jpg");
   
   width: 100%; 
   height: 528px; 
   padding: 10px;   
} 

.section-title {
   color: #2ddf5c;
   text-align: center;
}

/* targets any h1 elements that are nested within the element with  product-overview id */
#product-overview h1 {
   color: #fff;
   font-family: 'Anton', sans-serif;
}

/* targets plans in section with id="plans" */
.plan {
   background: #d5ffdc;
   text-align: center; /* aligns text in each article element in the center */
   padding: 16px;
   margin: 8px; /* puts a little space between each article element that contains the text */
   display: inline-block; /* puts plans next to each other on same row across instead of stacking in a column */
   width: 30%; /* each plan takes up 30% of the width of the container, which is the <article> element */
   vertical-align: middle; 
}

/* targets the RECOMMENDED plan */
.plan--highlighted {
   background: #19b84c;
   color: #fff;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); 
}

/* styling for header and navigation */
.main-header {
   width: 100%;
   background: #2ddf5c;
   padding: 10px 20px;  
}

/* descendant combinator - targets any divs that directly follow  <header class="main-header"> element. */
.main-header > div {
   display: inline-block;
   vertical-align: middle;
}

.main-header__brand {
   color: #0e4f1f;
   text-decoration: none;
   font-weight: bold;
   font-size: 22px;
}

.main-nav {
   display: inline-block;
   text-align: right;
   width: calc(100% - 74px);
   vertical-align: middle;
}

.main-nav__items {
   margin: 0;
   padding: 0;
   list-style: none
}

.main-nav__item {
   display: inline-block;
}

.main-nav__item > a {
   color: #0e4f1f;
   text-decoration: none;
   margin: 0 10px; 
   font-weight: bold;
   padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
   color: #fff;
   border-bottom: 5px solid #fff;
}
/* targets the Start Hosting navigation link only; the anchor tag    */ 
.main-nav__item--cta a {
   color: #fff;
   background-color: #ff1b68;
   padding: 8px 16px;
   border-radius: 8px;
}

/* changes the hover and active effects of the CTA button */
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
   color: #ff1b68;
   background-color: #fff;
   border: none;
}

