#product-overview {
   background: linear-gradient(to top, rgba(80, 68, 18, 0.6), 10%, transparent), url("images/freedom.jpg") left 10% top 20%/cover no-repeat border-box, #ff1b68; 
   /* background-size: cover;
   background-position: left 10% top 20%; 
   background-repeat: no-repeat; 
   background-origin:  border-box;
   background-clip: border-box;  
   border: 5px dashed red; */
   /* background-image: radial-gradient(ellipse closest-corner at 20% 50%, red, blue 70%, green); */   
   width: 100%; 
   height: 528px; 
   padding: 10px;
   margin-top: 45px; /* pushes the slogan down so it isn't partially hidden under the nav bar. */  
   position: relative; 
}   

.section-title {
   color: #2ddf5c;
   text-align: center;
}

/* targets any h1 elements that are nested within the element with  product-overview id */
#product-overview h1 {
   color: #fff;
   font-family: 'Anton', sans-serif;
   position: absolute; 
   bottom: 5%;
   left: 3%;
}

.plan__list {
  width: 80%;
  margin: auto; 
  text-align: center;
}

/* targets plans in section with id="plans" */
.plan {
   background: #d5ffdc;
   text-align: center; /* aligns text in each article element in the center */
   padding: 16px;
   margin: 8px; /* puts a little space between each article element that contains the text */
   display: inline-block; /* puts plans next to each other on same row across instead of stacking in a column */
   width: 30%; /* each plan takes up 30% of the width of the container, which is the <article> element */
   vertical-align: middle; 
}

/* targets the RECOMMENDED plan */
.plan--highlighted {
   background: #19b84c;
   color: #fff;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); 
}

.plan__annotation {
   background: #fff;
   color:#19b84c;
   padding: 8px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);  
   border-radius: 8px;
}

.plan__title {
   color: #0e4f1f;
}

.plan__price {
   color: #858585;
}

.plan--highlighted .plan__title {
   color: white;
}

/* combinator that targets the plan price only on the plan--highlighted plan */
.plan--highlighted .plan__price {
   color:  #0e4f1f;
}

.plan__features {
   list-style: none;
   margin: 0;
   padding: 0;
}

.plan__feature {
   margin: 8px 0; 
}

#key-points {
   background-color: #ff1b68;
   margin-top: 80px;
   padding: 16px; 
}

/* use a direct child or descendant combinator to target the h1 text */
#key-points .section-title {
   color: white;
   margin: 32px;
}

.key-point__list {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

/* styles individual items in the key-points list */
.key-point {
   display: inline-block;
   width: 30%;
   vertical-align: top; /* aligns the text at the top of the element at the same vertical line.  This is helpful when some of the text takes up two lines. */ 
}

.key-point__image {
   background: #ffcede;
   width: 128px;
   height: 128px;
   border: 2px solid #424242;
   border-radius: 50%; /* circle */
   margin: 0 auto; /* automatically fills the available space in the element to the left and right to center the element horizontally. */
   padding: 20px; /* makes the svg fit the circle a little better */
}

.key-point__description {
   text-align: center;
   font-weight: bold;
   color: white;
   font-size: 20px;
}




