
* {
   box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
   margin: 0; /* overrides browser default margins of 8px */
}

#product-overview {
   background: url("freedom.jpg");
   
   width: 100%; 
   height: 528px; 
   padding: 10px;   
} 

.section-title {
   color: #2ddf5c;
   text-align: center;
}

/* targets any h1 elements that are nested within the element with  product-overview id */
#product-overview h1 {
   color: #fff;
   font-family: 'Anton', sans-serif;
}

/* targets plans in section with id="plans" */
.plan {
   background: #d5ffdc;
   text-align: center; /* aligns text in each article element in the center */
   padding: 16px;
   margin: 8px; /* puts a little space between each article element that contains the text */
   display: inline-block; /* puts plans next to each other on same row across instead of stacking in a column */
   width: 30%; /* each plan takes up 30% of the width of the container, which is the <article> element */
   vertical-align: middle; 
}

/* targets the RECOMMENDED plan */
.plan--highlighted {
   background: #19b84c;
   color: #fff;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); 
}

.plan__annotation {
   background: #fff;
   color:#19b84c;
   padding: 8px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);  
   border-radius: 8px;
}

.plan__title {
   color: #0e4f1f;
}

.plan__price {
   color: #858585;
}

.plan--highlighted .plan__title {
   color: white;
}

/* combinator that targets the plan price only on the plan--highlighted plan */
.plan--highlighted .plan__price {
   color:  #0e4f1f;
}

.plan__features {
   list-style: none;
   margin: 0;
   padding: 0;
}

.plan__feature {
   margin: 8px 0; 
}

/* this will be a generic button-design */
.button {
   background: #0e4f1f;
   color: white;
   font: inherit;
   border: 1.5px solid #0e4f1f;
   padding: 8px; /* overwrites default padding */
   border-radius: 8px;
   cursor: pointer;
}

.button:hover,
.button:active {
   background: white;
   color: #0e4f1f;
}

.button:focus {
   outline: none;
}

#key-points {
   background-color: #ff1b68;
   margin-top: 80px;
   padding: 16px; 
}

/* use a direct child or descendant combinator to target the h1 text */
#key-points .section-title {
   color: white;
   margin: 32px;
}

.key-point__list {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

/* styles individual items in the key-points list */
.key-point {
   display: inline-block;
   width: 30%;
   vertical-align: top; /* aligns the text at the top of the element at the same vertical line.  This is helpful when some of the text takes up two lines. */ 
}

.key-point__image {
   background: #ffcede;
   width: 128px;
   height: 128px;
   border: 2px solid #424242;
   border-radius: 50%; /* circle */
   margin: 0 auto; /* automatically fills the available space in the element to the left and right to center the element horizontally. */
}

.key-point__description {
   text-align: center;
   font-weight: bold;
   color: white;
   font-size: 20px;
}

/* styling for header and navigation */
.main-header {
   width: 100%;
   background: #2ddf5c;
   padding: 10px 20px;  
}

/* descendant combinator - targets any divs that directly follow  <header class="main-header"> element. */
.main-header > div {
   display: inline-block;
   vertical-align: middle;
}

.main-header__brand {
   color: #0e4f1f;
   text-decoration: none;
   font-weight: bold;
   font-size: 22px;
}

.main-nav {
   display: inline-block;
   text-align: right;
   width: calc(100% - 74px);
   vertical-align: middle;
}

.main-nav__items {
   margin: 0;
   padding: 0;
   list-style: none
}

.main-nav__item {
   display: inline-block;
}

.main-nav__item > a {
   color: #0e4f1f;
   text-decoration: none;
   margin: 0 10px; 
   font-weight: bold;
   padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
   color: #fff;
   border-bottom: 5px solid #fff;
}

/* targets the Start Hosting navigation link only; the anchor tag    */ 
.main-nav__item--cta a {
   color: #fff;
   background-color: #ff1b68;
   padding: 8px 16px;
   border-radius: 8px;
}

/* changes the hover and active effects of the CTA button */
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
   color: #ff1b68;
   background-color: #fff;
   border: none;
}

