* {
   box-sizing: border-box;
}

html {
   height: 100%;
}

body{
   font-family: 'Montserrat', sans-serif;
   margin: 0; /* overrides browser default margins of 8px */
   height: 100%;
}

.backdrop {
   position: fixed;
   display: none; 
   top: 0;
   left: 0;
   z-index: 100;
   width: 100vw;
   height: 100vh;
   background: rgba(0,0, 0, 0.5);
}

/* styling for header and navigation */
.main-header {
   width: 100%; /* so the nav bar occupies the entire space available to it */
   position: fixed;
   top: 0;
   left: 0;
   background: #2ddf5c;
   padding: 0.75rem 2rem;  
   z-index: 1;
}

/* descendant combinator - targets any divs that directly follow  <header class="main-header"> element. */
.main-header > div {
   display: inline-block;
   vertical-align: middle;
}

/* this affects the icon-logo, too */
.main-header__brand {
   color: #0e4f1f;
   text-decoration: none;
   font-weight: bold;
   font-size: 1.375rem; /* 22px computed value */
   height: 1.375rem; /* 22px computed value */
   display: inline-block; /* puts the icon on the nav bar at an apropriate size for the nav bar. */
}

/* targets the icon directly */
.main-header__brand img {
   height: 100%;
}

.main-nav {
   display: inline-block;
   text-align: right;
   width: calc(100% - 74px);
   vertical-align: middle;
}

.main-nav__items {
   margin: 0;
   padding: 0;
   list-style: none;
}

.main-nav__item {
   display: inline-block;
   margin: 0 1rem;
}

.main-nav__item a {
   color: #0e4f1f;
   text-decoration: none;
   font-weight: bold;
   padding: 0.19rem 0; /* 3px 0 computed value */
}

.main-nav__item a:hover,
.main-nav__item a:active {
   color: #fff;
   border-bottom: 5px solid #fff;
}

/* targets the Start Hosting navigation link only; the anchor tag    */ 
.main-nav__item--cta a {
   color: #fff;
   background-color: #ff1b68;
   padding: 0.5rem 1rem;
   border-radius: 8px;
}

/* changes the hover and active effects of the CTA button */
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
   color: #ff1b68;
   background-color: #fff;
   border: none;
}

/* ********** FOOTER ********** */
.main-footer {
   background: black;
   margin-top: 3rem;
   padding: 2rem;
}

.main-footer__links {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.main-footer__link {
   display: inline-block;
   margin: 0 1rem; 
}

/* targets the <a> tag */
.main-footer__link a {
   color: white;
   text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
   color: #ccc;
}

/* ********** Side Nav Bar ********** */ 
.mobile-nav {
   display: none;
   position: fixed;
   z-index: 101;
   top: 0;
   left: 0;
   background
}

/* this will be a generic button-design */
.button {
   background: #0e4f1f;
   color: white;
   font: inherit;
   border: 1.5px solid #0e4f1f;
   padding: 0.5rem; /* overwrites default padding */
   border-radius: 8px;
   cursor: pointer;
}

.button:hover,
.button:active {
   background: white;
   color: #0e4f1f;
}

.button:focus {
   outline: none;
}

