@import url('https://fonts.googleapis.com/css?family=Roboto:400,900i');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* CSS Variables/Custom Properties
THe :root pseudoselector selects the entire document  */
:root{
   --dark-green: #0e4f1f;
   --highlight-color: #ff1b68;
}

* {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

html {
   height: 100%;
}

body{
   font-family: 'Montserrat', sans-serif;
   margin: 0; /* overrides browser default margins of 8px */
   height: 100%; 
   display: -ms-grid; 
   display: grid;
       -ms-grid-rows: 3.5rem auto fir-content(8rem);
       grid-template-rows: 3.5rem auto fir-content(8rem); /* auto takes as much space as is needed for the content */ 
       grid-template-areas: "header"
                        "main"
                        "footer";
}

main {
   /* if grid-template-areas is used:  */
   -ms-grid-row: 2;
   -ms-grid-column: 1;
   grid-area: main; 
   /* grid-row: 2 / 3; */
}
.backdrop {
   position: fixed;
   display: none; 
   top: 0;
   left: 0;
   z-index: 100;
   width: 100vw;
   height: 100vh;
   background: rgba(0,0, 0, 0.5);
   
}

/* styling for header and navigation
   flex-container  */
.main-header {
   width: 100%; /* so the nav bar occupies the entire space available to it */
   position: fixed;
   top: 0;
   left: 0;
   background: #2ddf5c;
   padding: 0.75rem 2rem;  
   z-index: 10; /* needs to be higher than z-index in main.css in .plan--highlighted selector */

   /* vendor prefixes for flexbox */
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   
   -webkit-box-orient: horizontal;
   
   -webkit-box-direction: normal;
   
       -ms-flex-direction: row;
   
           flex-direction: row;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center; 
   -webkit-box-pack: justify; 
       -ms-flex-pack: justify; 
           justify-content: space-between;
}

.toggle-button {
   width: 3rem;
   background: transparent;
   border: none;
   cursor: pointer;
   padding-top: 0;
   padding-bottom: 0;
   vertical-align: middle;
}

.toggle-button:focus {
   outline: none;
}

.toggle-button__bar {
   width: 100%;
   height: 0.2rem;
   background: black;
   display: block;
   margin: 0.6rem 0;
}

.main-header__brand {
   color: var(--dark-green);
   text-decoration: none;
   font-weight: bold;
}

/* targets the icon directly */
.main-header__brand img {
   height: 2.5rem;
   vertical-align: middle;
}

.main-nav__items {
   margin: 0;
   padding: 0;
   list-style: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

/* making this a flex-container that holds the flex-items, which are the li elements/nav-links */
.main-nav__item {
   margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
   color: var(--dark-green);
   text-decoration: none;
   font-weight: bold;
   padding: 0.19rem 0; /* 3px 0 computed value */
}

.main-nav__item a:hover,
.main-nav__item a:active {
   color: #fff;
   border-bottom: 5px solid #fff;
}

.main-nav__item--cta {
   -webkit-animation: wiggle 400ms 3s 8 ease-out none;
           animation: wiggle 400ms 3s 8 ease-out none;
}

/* targets the Start Hosting navigation link only; the anchor tag  */ 
.main-nav__item--cta a, 
.mobile-nav__item--cta a {
   color: #fff;
   background-color: var(--highlight-color);
   padding: 0.5rem 1rem;
   border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
   color: var(--highlight-color);
   background-color: #fff;
   border: none;
}

@media (min-width: 40rem) {
   .toggle-button {
       display: none; /* hides menu icon when query is active */
   } 
}

@media (max-width: 40rem) {
   .main-nav__item {
      display: none;
   }
}

.main-nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

/* ********** FOOTER ********** */
.main-footer {
   background: black;
   margin-top: 3rem;
   padding: 2rem;
   /* if grid-template-areas is used : */
   -ms-grid-row: 3;
   -ms-grid-column: 1;
   grid-area: footer;
   /* grid-row: 3 / 4; */
}

/* becomes the flex-container for the footer */
.main-footer__links {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.main-footer__link {
   margin: 0.5rem 0; 
}

/* targets the <a> tag */
.main-footer__link a {
   color: white;
   text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
   color: #ccc;
}

/* ********** Side Nav Bar ********** */ 
.mobile-nav {
   -webkit-transform: translateX(-100%);
       -ms-transform: translateX(-100%);
           transform: translateX(-100%); /* moves entire element width to the left */
   position: fixed;
   z-index: 101;
   top: 0;
   left: 0;
   background: white;
   width: 80%;
   height: 100vh;
   -webkit-transition: -webkit-transform 300ms ease-out;
   transition: -webkit-transform 300ms ease-out;
   -o-transition: transform 300ms ease-out;
   transition: transform 300ms ease-out;
   transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

/* flex-container for mobile nav bar */
.mobile-nav__items {
   width: 90%;
   height: 100%;
   list-style: none;
   margin: 10% auto;
   padding: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.mobile-nav__item {
   margin: 1rem 0;
}

.mobile-nav__item a {
   font-size: 1.5rem;
}

/* this will be a generic button-design */
.button {
   background: var(--dark-green);
   color: white;
   font: inherit;
   border: 1.5px solid var(--dark-green);
   padding: 0.5rem; /* overwrites default padding */
   border-radius: 8px;
   cursor: pointer;
}

.button:hover,
.button:active {
   background: white;
   color:var(--dark-green);
}

.button:focus {
   outline: none;
}

/* targets any element with the button class that also has the disabled attribute. 
This overwrites the button:hover rules above. */
.button[disabled]{
   cursor: not-allowed;
   border: #a1a1a1;
   background: #ccc;
   color: #a1a1a1;
}

/* this class is added dynamically using JS */
.open {
   display: block !important;
   opacity: 1 !important;
   -webkit-transform: translateY(0) !important;
       -ms-transform: translateY(0) !important;
           transform: translateY(0) !important;
}

@media (min-width: 40rem) {
   .main-footer__link {
      margin: 0 1rem; 
   }

   /* becomes the flex-container for the footer */
   .main-footer__links {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
   }
}

/* start hosting button animation */
@-webkit-keyframes wiggle {
   0% {
      -webkit-transform: rotateZ(0);
              transform: rotateZ(0);
   }
   50% {
      -webkit-transform: rotateZ(-10deg);
              transform: rotateZ(-10deg);
   }
   100% {
      -webkit-transform: rotateZ(10deg);
              transform: rotateZ(10deg);
   }
}
@keyframes wiggle {
   0% {
      -webkit-transform: rotateZ(0);
              transform: rotateZ(0);
   }
   50% {
      -webkit-transform: rotateZ(-10deg);
              transform: rotateZ(-10deg);
   }
   100% {
      -webkit-transform: rotateZ(10deg);
              transform: rotateZ(10deg);
   }
}