/* targets the div around each testimonial on the page */
.testimonial {
   font-size: 1.2rem; /* 19.2px computed value */
   /* removed or changed for mobile-first view:
         margin: 3rem 0;
   */
}

.testimonial__list {
   width: 80%;
   margin: auto;
}

/* targets the top margin of just the first testimonial on the page */
.testimonial:first-of-type {
   margin-top: 6rem; /* 96px computed value */
}

/* targets the container around the image */
.testimonial__image-container {
   width: 100%;
   max-width: 40rem;
   box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
   /* removed or changed for mobile-first view 
      display: inline-block;
      vertical-align: middle;
      max-width: 580px;
      width: 65%;
   */
}

.testimonial__image {
   width: 100%;
   vertical-align: top; /* this gets rid of the white line on the bottom edge of the image when box-shadow is used. */ 
}

/* targets the container around the customer testimonial and information */
.testimonial__info {
   text-align: right;
   padding: .875rem; /* 14px computed value */
   /* removed or changed for mobile-first view 
      display: inline-block;
      vertical-align: middle;
      width: 30%;
   */ 
}

#customer-2.testimonial {
   text-align: right;
}

/* targets the container around customer 2's testimonial */
#customer-2 .testimonial__info {
   text-align: left;
}

.testimonial__name {
   margin: .19rem; /* 3px computed value */
   color: #ff5454;
   font-size: 2em;
}

.testimonial__subtitle {
   margin: 0;
   font-size: 1.1rem;   
   color: #ccc;
}

.testimonial__subtitle a {
   color: inherit;
   text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
   color: #7a7a7a;
}

.testimonial__text {
   margin: .19rem; /* 3px computed value */ 
   font-stretch: ultra-condensed;
}

@media (min-width: 40rem) {
   .testimonial {
      margin: 3rem auto;
      max-width: 1500px; 
   }
   
   .testimonial__image-container {
      display: inline-block;
      vertical-align: middle;
      width: 66%;
   }

   .testimonial__info {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
   }
   
}